*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex; /*makes flexible items*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.emoji {
    font-size: 10rem;
    cursor: pointer;
    user-select: none;/*remove blue selection box around emoji*/
}

.whole {
    display: none;
}

.cracked {
    display: none;
}

.active {
    display: block;/*disp element as block in a new line, takes up max. horizontal space*/
}